*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right,white 60%, rgb(214, 189, 166) 40%);

}
header{
    height: 9vh;
    
    justify-content: top;
}

a{
    color: black;
    padding-left: 6%;
}

h1{
    position: relative;
    margin-top: 26vh;
    padding-left: 12vh;
    font-size: 8vh;
}
h2{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 2vh;
    color: grey;
}
h3{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 5vh;
    color: black;
    letter-spacing: -0.6vh;
}
    
img{
    position: relative;
    margin-top: -57vh;
    width: 150vh;
    height: 90vh;
    padding-left: 65vh;
    padding-top: -20vh;
    padding-bottom: 0;
    margin-bottom: 0;

}

.logomarca{
    position: absolute;
    padding-top: 3.3vh;
}

.headeruno{
    position: relative;
    justify-content:flex-start;
    padding-left: 25vh;
    margin-top: -4vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}
.lupa{
    position: absolute;
    padding-top: 4.8vh;
    padding-left: 158vh;
    
}
.bolsa{ 
    position: absolute;
    padding-top: 4.5vh;
    padding-left: 164vh;
}

.divdebotones{
    
    display: flex;
    justify-content: right;
    padding-right: 10vh;
    padding-top: 5.5vh;
    

}
.botonuno{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
}
.botonuno:hover{
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0.1vh solid black;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black
}

.botonuno{
    transition: background 0.3s;
                 transform: 0.2s;
}

.botondos{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(214, 189, 166);
    border: 0.1vh solid black;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;

}
.botondos:hover{
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
    
}
.botondos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.titulo{
    position: absolute;
    
}
.titulodos{
    margin-top: 1vh;
}
.divbotondos{
    display: flex;
    justify-content: left;
    padding-right: 10vh;
    padding-top: 5.5vh;
}
.botonmain{
    position: relative;
    margin-top: 1vh;
    left: 12vh;
}
.botonmain{
    transform: scale(1);
    font-size: 13px;
    background-color: white;
    border: 0.1vh solid black;
    height: 30px;
    padding: 13px 30px 26px 30px;
    color: black;
}
.botonmain:hover{  
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
}  
.botonmain{
    transition: background 0.3s;
                 transform: 0.2s;
}

.texto{
    position: absolute;
    padding-top: 17vh;

}
.notificationuno{
    font-size: 3vh;
}
.notification {
    transform: scale(1);
    color: black;
    font-size: 3vh;
    text-decoration: none;
    padding: 10px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    transform: scale(0.8);
    background: red;
    border: 0;
    border-radius: 100%;
    height: 3vh;
    padding: -20px -26px;
    color: black;
  }
  
  .notification .badge {
    position: absolute;
    font-size: 1.5vh;
    top: 6px;
    right: 16px;
    padding: 2px 6px;
    border: 0.2vh solid black;
    border-radius: 50%;
    background: white  ;
    color: black;
  }
  .badge{
    font-size: 1vh;
  }
  .linea{
    border-right: 4px solid black;
    height: 38.1px;
    position: absolute;
    left: 1290px;
    top: 300px;
    font-size: 0.6rem;
  }
  .lineados{
    border-right: 4px solid rgb(48, 45, 45);
    height: 38px;
    position: absolute;
    left: 1290px;
    top: 338px;
    font-size: 0.6rem;
  }
  .lineatres{
    border-right: 4px solid gray;
    height: 38px;
    position: absolute;
    left: 1290px;
    top: 375px;
    font-size: 0.6rem;
  }
  

a:link{text-decoration: none;}





