*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right,white 60%, rgb(214, 189, 166) 40%);

}
header{
    height: 9vh;
    
    justify-content: top;
}

a{
    color: black;
    padding-left: 6%;
}

h1{
    position: relative;
    margin-top: 26vh;
    padding-left: 12vh;
    font-size: 8vh;
}
h2{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 2vh;
    color: grey;
}
    
img{
    position: relative;
    margin-top: -57vh;
    width: 150vh;
    height: 90vh;
    padding-left: 65vh;
    padding-top: -20vh;
    padding-bottom: 0;
    margin-bottom: 0;

}


.headeruno{
    position: relative;
    justify-content:flex-start;
    padding-left: 25vh;
    margin-top: -4vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}
.lupa{
    position: absolute;
    padding-top: 6.5vh;
    padding-left: 165vh;
    
}
.bolsa{ 
    position: absolute;
    padding-top: 6.5vh;
    padding-left: 170vh;
    
}
.divdebotones{
    
    display: flex;
    justify-content: right;
    padding-right: 10vh;
    padding-top: 5.5vh;
    

}
.botonuno{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
}
.botonuno:hover{
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0.1vh solid black;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black
}

.botonuno{
    transition: background 0.3s;
                 transform: 0.2s;
}

.botondos{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(214, 189, 166);
    border: 0.1vh solid black;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;

}
.botondos:hover{
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
    
}
.botondos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.titulo{
    position: absolute;
    
}
.titulodos{
    margin-top: 1vh;
}
.divbotondos{
    display: flex;
    justify-content: left;
    padding-right: 10vh;
    padding-top: 5.5vh;
}
.botonmain{
    position: relative;
    margin-top: 1vh;
    left: 12vh;
}
.botonmain{
    transform: scale(1);
    font-size: 13px;
    background-color: white;
    border: 0.1vh solid black;
    height: 30px;
    padding: 13px 30px 26px 30px;
    color: black;
}
.botonmain:hover{  
    transform: scale(1);
    background-color: rgb(214, 189, 166) ;
    border: 0;
    border-left: 0.1vh solid gray;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: black;
}  
.botonmain{
    transition: background 0.3s;
                 transform: 0.2s;
}

.texto{
    position: absolute;
    padding-top: 17vh;

}

a:link{text-decoration: none;}





